body {
    background-color: lightgray;
    
}

header {
    background-color: white;
    text-align: center;
    height: 70px;
    margin-bottom: 100px;
    font-size: 30px;
}

.mainContent {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0px;

}

article {
    position: relative;
    margin-bottom: 200px;
}

.headerPhoto {
    background-color: white;
    display: inline-block;
    width: 100%;
    position: relative;
    height: 50px;
    font-size: 20px;
}

.headerPhoto p {
    color: rgb(152, 147, 147);
}

.tittlePhoto {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
}

.datePhoto p{
    position: absolute;
    top: -5px;
    right: 15px;
    font-size: 17px;
    
}

.Photo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.footerPhoto p {
    background-color: white;
    padding: 25px 15px;
    font-size: 17px;
    margin-top: 15px;
}



